<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/product_page.css">
    <title><%= product.product_name %></title>
</head>
<body>
    <div class="header_div">
        <h1><%= product.product_name %></h1>
    </div>
    <div class="body_div">
        <div class="information_div">
            <img class="image" src="/images/<%= product.product_name %>.png" alt="picture couldnt load">
            <p class="price">Price: <%=product.price%>€</p>
            <%
            if(is_logged_in){
            %>
            <div>
                <form action="/profile/shoppingCart/add" method="post">
                    <input type="hidden" name="product_name" value="<%= product.product_name %>">
                    <input class="submit_btn" type="submit" value="Add to basket">
                </form>
            </div>
            <% } %>
        </div>
        <div class="product_desc">
            <p><%=product.product_desc%></p>
        </div>
    </div>
</body>
</html>